::placeholder{
  text-align: center;
  font-size: 14px;
  color: gray;
  background-position: 40%;
  background-size: 6%;
  /* CSS dosyası içindeki ::placeholder kısmının arkaplanına assets klasörü içinde bulunan arama simgesini ekleyin. Ve resmin tekrar etmemesini sağlayın.    */
  background-image:url(/instagramclone/assets/search-solid.svg); 
  background-repeat: no-repeat;
  background-position: 50px;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
}

.postuserfont {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}


.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}
/* navbar'ın başındaki logo class'ının içine 192px soldan margin verin. */
.logo {
  margin-left: 192px;
}

/* Class'da belirttiğimiz middlearea içinde maksimum yükseklik 200px olmalı ve bunu important ile yazmalısınız. */
.middlearea {
  max-height: 200px !important;
}

/* Card header ve card footer'lar beyaz renk olmalı. */
.card-header {
  background-color:white;
}

.card-footer {
  background-color:white;
}

/* Stickysidebar bu panelin sayfayı aşağı kaydırdıkça onun da gelmesini sağlıyor. Bunu sağlamak için için CSS'in position property'sini kullanabilirsiniz. position:fixed rule added. */
#sticky-sidebar {
  position: fixed;
}

/* Rightpanel'de de arkaplan rengi beyaz olup kenarlık olmamalı. */
.rightpanel {
  background-color:white;
  border: 0in;
}


